Repository pmmmwh/react-polyglot-hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --report-unused-disable-directives", "prettier --write"],
  "*.{json,md,yml}": "prettier --write"
}

chore: try removing TS hack
  src/T.tsx
Due: eslint --report-unused-disable-directives, prettier --write

ci: update tested Node.js versions
  .circleci/config.yml
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: prettier --write

ci: update tested Node.js versions (#981)
  .circleci/config.yml
Due: prettier --write

chore: add jest-environment-jsdom
  package.json
  yarn.lock
Due: prettier --write

chore: re-lock
  yarn.lock
Due: none

refactor: cleanup and leaner deps
  .babelrc.json
  .eslintrc.json
  .jest/expect.d.ts
  .jest/setup.ts
  examples/App.js
  examples/components/LanguageSwitcher.jsx
  examples/components/Translated.jsx
  examples/phrases/en.js
  examples/phrases/fr.js
  examples/phrases/index.js
  jest.config.js
  jest.config.mjs
  package.json
  scripts/test.mjs
  src/I18n.tsx
  src/T.tsx
  src/__tests__/I18n.test.tsx
  src/__tests__/T.test.tsx
  src/__tests__/enhanceT.test.tsx
  src/__tests__/i18nContext.test.tsx
  src/__tests__/useLocale.test.tsx
  src/__tests__/useT.test.tsx
  src/enhanceT.ts
  src/i18nContext.ts
  src/index.ts
  src/types.ts
  src/useLocale.ts
  src/useT.ts
  test/ValueTester.tsx
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

chore: fix type checking
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

ci: update codecov setup
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

ci: fix default node version
  .circleci/config.yml
Due: prettier --write

refactor: cleanup and leaner deps (#1204)
  .babelrc.json
  .circleci/config.yml
  .eslintrc.json
  .jest/expect.d.ts
  .jest/setup.ts
  examples/App.js
  examples/components/LanguageSwitcher.jsx
  examples/components/Translated.jsx
  examples/phrases/en.js
  examples/phrases/fr.js
  examples/phrases/index.js
  jest.config.js
  jest.config.mjs
  package.json
  scripts/test.mjs
  src/I18n.tsx
  src/T.tsx
  src/__tests__/I18n.test.tsx
  src/__tests__/T.test.tsx
  src/__tests__/enhanceT.test.tsx
  src/__tests__/i18nContext.test.tsx
  src/__tests__/useLocale.test.tsx
  src/__tests__/useT.test.tsx
  src/enhanceT.ts
  src/i18nContext.ts
  src/index.ts
  src/types.ts
  src/useLocale.ts
  src/useT.ts
  test/ValueTester.tsx
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

chore: switch to createRoot
  examples/App.js
Due: eslint --report-unused-disable-directives, prettier --write

chore: bump eslint prettier
  package.json
  src/I18n.tsx
  src/__tests__/enhanceT.test.tsx
  src/enhanceT.ts
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

chore: bump deps
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

chore: reformat code
  tsconfig.json
Due: prettier --write

chore: fix formatting
  package.json
  tsconfig.json
Due: prettier --write

chore: migrate to v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

chore: bump deps
  package.json
  yarn.lock
Due: prettier --write

ci: bump testing environment
  .circleci/config.yml
Due: prettier --write

chore: group typescript-eslint deps
  .github/dependabot.yml
Due: prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

build: group Babel deps
  .github/dependabot.yml
Due: prettier --write

build: group commitlint stuff in dependabot
  .github/dependabot.yml
Due: prettier --write

build: group Jest dependencies for dependabot
  .github/dependabot.yml
Due: prettier --write

build: group babel jest
  .github/dependabot.yml
Due: prettier --write

chore: fix prettier issues
  .jest/expect.d.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore: yarn dedupe
  yarn.lock
Due: none

ci: migrate to github actions
  .circleci/config.yml
  .github/workflows/ci.yml
  README.md
Due: prettier --write

ci: migrate to github actions (#2008)
  .circleci/config.yml
  .github/workflows/ci.yml
  README.md
Due: prettier --write

fix: TS6 compat
  tsconfig.build.json
  tsconfig.json
Due: prettier --write
