Repository pmmmwh/react-polyglot-hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --report-unused-disable-directives",
    "prettier --write"
  ],
  "*.{json,md,yml}": "prettier --write"
}

chore(deps): bump all dependencies and remove obsolete vendors.d.ts
  jest.config.js
  package.json
  src/vendors.d.ts
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

chore: rename rc files to json
  .babelrc
  .babelrc.json
  .prettierrc.json
Due: prettier --write

chore(lint): update printWidth to 100
  .lintstagedrc.json
  .prettierrc.json
  examples/App.js
  jest.config.js
  src/__tests__/T.test.tsx
  src/__tests__/enhanceT.test.tsx
  src/enhanceT.ts
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

chore(deps): bump all deps (#311)
  .babelrc
  .babelrc.json
  .lintstagedrc.json
  .prettierrc.json
  examples/App.js
  jest.config.js
  package.json
  src/__tests__/T.test.tsx
  src/__tests__/enhanceT.test.tsx
  src/enhanceT.ts
  src/i18nContext.ts
  src/vendors.d.ts
  yarn.lock
Due: eslint --report-unused-disable-directives, prettier --write

chore(release): 0.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

ci: add docker authentication and matrix build
  .circleci/config.yml
Due: prettier --write

fix: replace node_version with node-version
  .circleci/config.yml
Due: prettier --write

ci: update to use cimg/node
  .circleci/config.yml
Due: prettier --write

chore: format dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore: bump typescript eslint plugin
  package.json
  yarn.lock
Due: prettier --write

chore: format code
  src/T.tsx
  src/__tests__/i18nContext.test.tsx
  src/enhanceT.ts
  src/i18nContext.ts
Due: eslint --report-unused-disable-directives, prettier --write

fix: migrate husky to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier --write

chore: re-lock
  yarn.lock
Due: none

Update jest.config.js
  jest.config.js
Due: eslint --report-unused-disable-directives, prettier --write

chore: fix children prop
  src/I18n.tsx
Due: eslint --report-unused-disable-directives, prettier --write
